
    .card:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease;
    }
	  body {
      background-color: #131313;
      color: white;
    }
	  .card-body {
      background-color: #141414;
      color: white;
    }

    .container {
      margin-top: 5rem;
    }

    h2 {
      color: white;
    }

    .form-group label {
      color: antiquewhite;
    }

    .form-control {
      background-color: #171717;
      color: white;
      border-color: #faebd700;
      border-bottom-color: #cdba96;
      border-radius: 25px;
    }

    .form-check-label {
      color: white;
    }

    .btn-primary {
      background-color: #131313;
      color: antiquewhite;
      border-color: #cbb799;
    }

    .btn-primary:hover {
      background-color: antiquewhite;
      color: #131313;
    }

    .alert {
      margin-top: 1rem;
    }

    .alert-success {
      background-color: #232323;
      color: #28a745;
      border-color: #232323;
    }

    .alert-danger {
      background-color: #232323;
      color: #dc3545;
      border-color: #232323;
    }
	    .row {
      margin-bottom: 20px;
    }